// Colors
$black: #222222;
$white-100: #f8f9fa;
$purple-300--darker: #514ae5;
$purple-300: #5b53ff;
$purple-100: #cdcbff;
$grey-300: #343a40;
$grey-200: #868e96;
$grey-100: #adb5bd;
$red: #a63446;
$green: #119da4;
$radius: 8px;
$cubic-bezier: cubic-bezier(0.8, 1, 0.17, 1);
$transition-fast: all 0.2s $cubic-bezier;
$transition: all 0.4s $cubic-bezier;
$transition-quick: all 0.8s $cubic-bezier;
$light-box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
